[alias]
	# list all contributors by number of commits
	contributors = shortlog -s -n --all --no-merges
[core]
	editor = vi
[push]
	followTags = true
[user]
	name = Olav Fosse
	email = mail@olavfosse.no
